body{
    margin: 0px;
    background-color: #ededed;
}
.box {
    background-color: orange;
    width: 100px;
    height: 100px;
    color: #fff;
    position: relative;
    
}
.box--blue {
    background-color: blue;
top:70px;
left: 80px;
z-index: 10;
}
.box--green{
    background-color: #080;
    right: 50px;
    bottom: 50px;
}
.box:first-child {
    top: 150px;
    left: 40px;
    background-color: #800;
    z-index: 30;
}