body {
    margin: 0;
    font-family: sans-serif;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #f00;
    color: #aaa;
    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    transition-property: background, color;
    transition-duration: 1s;
    transition-delay: 3s;
}
.box:hover {
    background-color: #008;
    color: #fff;
}