body {
    margin: 0;
    font-family: sans-serif;
}
.box {
    width: 100px;
            height: 50px;
            background-color: #f00;
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
            transition: left 5s .box {
    width: 100px;
            height: 50px;
            background-color: #f00;
            margin-top: 50px;
            text-align: center;
            font-weight: bold;
            transition: left 1s  2s;
            color: #000;
            position: relative; 
            left: 0;
            
}
body:hover .box {
    left: 700px;
};
            color: #000;
            position: relative; 
            left: 0;
            
}
body:hover .box {
    left: 700px;
}