body {
    margin: 0;
    font-family: sans-serif;
}
body, div {
    box-sizing: border-box;
}
.grid {
    display: grid;
    height: 80vh;
    grid-template-columns:  auto auto 300px ;
    grid-template-rows: 100px 200px;

}
.grid-item {
    background-color: #86e;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

