body {    
    margin: 0;    
    font-family: sans-serif;
}
body, div {    
    box-sizing: border-box;
}
.grid {    
    display: grid;    
    height: 80vh;    
    grid-template-columns:   repeat(3,150px)  ;    
    grid-template-rows:  repeat(3,150px);
    grid-auto-rows: 60px;/*--medidas de las nuevas filas que se creen--*/
    grid-auto-flow: rows;/*--dirección hacia donde se va a crear o nuevas rows(filas) o nuevas column(columnas)--*/
    grid-auto-columns: 100px;/*--medidas de las nuevas filas que se creen--*/
}
.grid-item {    
    background-color: #48e;    
    margin: 10px;    
    padding: 10px;    
    font-size: 30px;    
    color: #fff;}

