body {
    margin: 0;
    font-family: sans-serif;
}
div, body {
    box-sizing: border-box;
}
.flexbox3 {
    border: 2px solid #000;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #77f;
    height: 100vh;
}
.flex-item3 {
    width: 150px;
    height: 150px;
    background-color: #abcabc;
    margin: 10px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.flex-item3:first-child {
    background-color: #4fa;
}
.flex-item3:last-child {
    background-color: #f0a;
}
.flex-box4 {
    border: 2px solid #000;
    display: flex;  
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background-color: #1ff;
    height: 100vh;

}
.flex-item4 {
    width:  150px;
    height: 150px;
    background-color: #bdebee;
    margin: 10px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.flex-item4:first-child {
    background-color: #4f7;
}
.flex-item4:last-child {
    background-color: #f8e;
}

