body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    }
div, body {
    box-sizing: border-box;
}
div {
    background-color: #fff;
}
.flexbox {
    display: flex;  
    flex-flow: row  wrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 200px;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-item {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    text-align: center;
    direction: rtl;
    width: 200px;
}
.flex-item:first-child {
    background-color: #f77;
    flex-shrink: 0;

    }
.flex-item:last-child {
    background-color: #ff0;
    flex-shrink: 0;
    }

