body {
    margin: 0;
    font-family: sans-serif;
}
div, body {
    box-sizing: border-box;
}

.flexbox2 {
    border: 2px solid #000;
    display: flex;  
    flex-direction: row-reverse;
    flex-wrap: wrap;/*wrap no se adapta el tamaño del item al de la caja y se va hacia abajo*/
}
.flex-item2 {
    width: 250px;  
    height: 250px;
    background-color: #abcabc;
    margin: 10px;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.flex-item2:first-child {
    background-color: #f8aaf8;
}
.flex-item2:last-child {
    background-color: #086;
}

